VITE_API_BASE_URL=https://example.com
VITE_INVIDIOUS_API_BASE_URL=https://example.com
VITE_DEFAULT_REGION=JP
VITE_DEFAULT_LANGUAGE=ja
VITE_CHROMECAST_APP_ID=CC1AD845
VITE_SENTRY_DSN=
VITE_COMPANION_URL=
VITE_COMPANION_SECRET=
